APP_NAME = dte-clean-base-template
APP_PORT = 80
APP_DEBUG = true
APP_CLUSTER = false
APP_LOG_LEVEL = debug
APP_TIMEZONE = Asia/Colombo
REQ_IDENTIFIER_NAME = UUID
MS_NAME = base-template
FILE_LOG_LEVEL = debug
CONSOLE_LOG_LEVEL = info
MASSAGE_TYPE_HEADER_NAME=Massage-Type
GENERATE_SOURCEMAP=false
